body {
  display: block;
  margin-top: 10px;
  font-family: 'Roboto';
  color: rgb(133, 133, 133);
  background-color: rgb(240, 240, 240) ;
}

p {
  color: rgb(99, 99, 99);
  margin-bottom: 35px;
  line-height: 25px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(62, 110, 212)
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(62, 110, 212)
}

.cursor {
  text-decoration: none;
  background-color: rgb(62, 110, 212);
  color: white;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.cursor:hover {
  background-color: rgb(0, 54, 105);
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

img {
  width: 100px;
  border-radius: 50%;
}

.container {
width: 700px;
margin: 40px auto;

}

.white_card {
background-color: white;
text-align: center;
border-radius: 15px;
display: block;
margin-bottom: 20px;
padding: 40px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

#inline_icons{
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 15px;

}

#inline_icons i{
  font-size: 40px;
}

i:hover{
  color: rgb(0, 54, 105);
}

ul {
  padding: 0;
}
